[run]
branch = True
source_pkgs = cwltool
omit = cwltool/run_job.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
ignore_errors = True
omit =
    tests/*
