.coverage
coverage.xml
.tox/
.eggs/
.vscode/
build/
dist/
.swp
.mypy_cache/
.git/
.pytest_cache/
*.whl
env*/
testenv*/
*.img
*.sif
*.so
.github/
cwltool/*.so
*.Dockerfile
tmp/
build-cwltool-docker.sh
__pycache__/
*/__pycache__/
**/__pycache__/
*.egg-info/
*.orig
.dockerignore
cache*
*.swp
