# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop

# testing tmp dirs
funnel-work-dir
test_tmp
v1.0[a-zA-Z0-9_]*
