dist: trusty
sudo: true
services:
  - docker

env:
  - SINGVER=2.5.1

before_install:
- sudo wget -O- http://neuro.debian.net/lists/xenial.us-ca.full | sudo tee /etc/apt/sources.list.d/neurodebian.sources.list
- sudo apt-key adv --recv-keys --keyserver hkp://pool.sks-keyservers.net:80 0xA5D32F012649A5A9
- sudo apt-get update
- sudo apt-get install -y singularity-container

language: python
cache: pip
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
os:
  - linux
install:
  - pip install tox-travis
jobs:
  include:
    - stage: release-test
      script: RELEASE_SKIP=head ${TRAVIS_BUILD_DIR}/release-test.sh
script: tox
branches:
  only:
    - master
notifications:
  email: false
