sudo: false
language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
os:
  - linux
install:
  - pip install tox-travis coveralls
script: tox
branches:
  only:
    - master
notifications:
  email: false

after_success:
  - coveralls