include MANIFEST.in
include gittaggers.py Makefile cwltool.py
include tests/*
include tests/tmp1/tmp2/tmp3/.gitkeep
include tests/wf/*
include tests/override/*
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/draft-2/*.yml
include cwltool/schemas/draft-3/*.yml
include cwltool/schemas/draft-3/*.md
include cwltool/schemas/draft-3/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/draft-3/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/v1.0/*.md
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.1.0-dev1/*.yml
include cwltool/schemas/v1.1.0-dev1/*.md
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.md
include cwltool/cwlNodeEngine.js
include cwltool/cwlNodeEngineJSConsole.js
include cwltool/cwlNodeEngineWithContext.js
include cwltool/extensions.yml
include cwltool/jshint/jshint_wrapper.js
include cwltool/jshint/jshint.js
global-exclude *~
global-exclude *.pyc
