include README.rst CODE_OF_CONDUCT.md CONTRIBUTING.md
include MANIFEST.in
include LICENSE.txt
include *requirements.txt mypy.ini tox.ini
include gittaggers.py Makefile cwltool.py
recursive-include mypy-stubs *.pyi *.py
include tests/*
include tests/loop/*
include tests/tmp1/tmp2/tmp3/.gitkeep
include tests/tmp4/alpha/*
include tests/wf/*
include tests/wf/operation/*
include tests/override/*
include tests/reloc/*.cwl
include tests/reloc/dir1/*
include tests/reloc/dir2/*
include tests/checker_wf/*
include tests/subgraph/*
include tests/input_deps/*
include tests/trs/*
include tests/wf/generator/*
include cwltool/py.typed
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/v1.0/*.md
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.1/*.yml
include cwltool/schemas/v1.1/*.md
include cwltool/schemas/v1.1/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.1/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.1.0-dev1/*.yml
include cwltool/schemas/v1.1.0-dev1/*.md
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.2.0-dev2/*.yml
include cwltool/schemas/v1.2.0-dev2/*.md
include cwltool/schemas/v1.2.0-dev2/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.2.0-dev2/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.2.0-dev3/*.yml
include cwltool/schemas/v1.2.0-dev3/*.md
include cwltool/schemas/v1.2.0-dev3/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.2.0-dev3/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.2.0-dev4/*.yml
include cwltool/schemas/v1.2.0-dev4/*.md
include cwltool/schemas/v1.2.0-dev4/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.2.0-dev4/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.2.0-dev5/*.yml
include cwltool/schemas/v1.2.0-dev5/*.md
include cwltool/schemas/v1.2.0-dev5/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.2.0-dev5/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.2/*.yml
include cwltool/schemas/v1.2/*.md
include cwltool/schemas/v1.2/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.2/salad/schema_salad/metaschema/*.md
include cwltool/extensions.yml
include cwltool/extensions-v1.1.yml
include cwltool/extensions-v1.2.yml
include cwltool/jshint/jshint_wrapper.js
include cwltool/jshint/jshint.js
include cwltool/hello.simg
include cwltool/rdfqueries/*.sparql
prune cwltool/schemas/v1.0/salad/typeshed
prune cwltool/schemas/v1.0/salad/schema_salad/tests
prune cwltool/schemas/v1.1.0-dev1/salad/typeshed
prune cwltool/schemas/v1.1.0-dev1/salad/schema_salad/tests
prune cwltool/schemas/presentations
prune cwltool/schemas/site
prune cwltool/schemas/v1.0/examples
prune cwltool/schemas/v1.0/v1.0
prune cwltool/schemas/v1.1.0-dev1/examples
prune cwltool/schemas/v1.1.0-dev1/v1.1.0-dev1
recursive-exclude cwltool/schemas *.py
exclude debian.img
global-exclude *~
global-exclude *.pyc
