include MANIFEST.in
include LICENSE.txt
include *requirements.txt
include gittaggers.py Makefile cwltool.py
include tests/*
include tests/tmp1/tmp2/tmp3/.gitkeep
include tests/tmp4/alpha/*
include tests/wf/*
include tests/override/*
include tests/checker_wf/*
include tests/subgraph/*
include tests/trs/*
include tests/wf/generator/*
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/v1.0/*.yml
include cwltool/schemas/v1.0/*.md
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.0/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.1/*.yml
include cwltool/schemas/v1.1/*.md
include cwltool/schemas/v1.1/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.1/salad/schema_salad/metaschema/*.md
include cwltool/schemas/v1.1.0-dev1/*.yml
include cwltool/schemas/v1.1.0-dev1/*.md
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.yml
include cwltool/schemas/v1.1.0-dev1/salad/schema_salad/metaschema/*.md
include cwltool/cwlNodeEngine.js
include cwltool/cwlNodeEngineJSConsole.js
include cwltool/cwlNodeEngineWithContext.js
include cwltool/extensions.yml
include cwltool/jshint/jshint_wrapper.js
include cwltool/jshint/jshint.js
prune cwltool/schemas/v1.0/salad/typeshed
prune cwltool/schemas/v1.0/salad/schema_salad/tests
prune cwltool/schemas/v1.1.0-dev1/salad/typeshed
prune cwltool/schemas/v1.1.0-dev1/salad/schema_salad/tests
prune cwltool/schemas/presentations
prune cwltool/schemas/draft-2
prune cwltool/schemas/draft-1
prune cwltool/schemas/draft-3
prune cwltool/schemas/site
prune cwltool/schemas/v1.0/examples
prune cwltool/schemas/v1.0/v1.0
prune cwltool/schemas/v1.1.0-dev1/examples
prune cwltool/schemas/v1.1.0-dev1/v1.1.0-dev1
recursive-exclude cwltool/schemas *.py
exclude debian.img
global-exclude *~
global-exclude *.pyc
