mypy==0.971
ruamel.yaml>=0.16.0,<0.17.22
schema-salad>=8.2.20211104054942,<9
cwl-utils @ https://github.com/common-workflow-language/cwl-utils/archive/codegen-fixes.zip
types-requests
types-setuptools
types-psutil
types-mock
