mypy==1.10.1  # also update pyproject.toml
ruamel.yaml>=0.16.0,<0.19
cwl-utils>=0.32
types-requests
types-setuptools
types-psutil
types-mock
galaxy-tool-util>=22.1.2,!=23.0.1,!=23.0.2,!=23.0.3,!=23.0.4,!=23.0.5,<24.2
galaxy-util<24.2
