mypy==1.18.2  # also update pyproject.toml
ruamel.yaml>=0.16.0,<0.19
cwl-utils>=0.32
cwltest
types-requests
types-setuptools
types-psutil
types-mock
galaxy-tool-util>=22.1.2,!=23.0.1,!=23.0.2,!=23.0.3,!=23.0.4,!=23.0.5,<25.1
galaxy-util<25.1
pydantic==2.12.0a1; python_version >= "3.14"
