requests>=2.4.3
ruamel.yaml>=0.12.4,<=0.16.5
rdflib>=4.2.2,<5.1
shellescape>=3.4.1,<3.5
schema-salad>=7.1,<8
prov==1.5.1
bagit==1.8.1
mypy-extensions
psutil<5.8.0
typing-extensions
coloredlogs
pydot>=1.4.1
argcomplete>=1.12.0
