bagit>=1.6.4,<1.9
pytest>= 6.2,< 8.3
pytest-xdist>=3.2.0 # for the worksteal scheduler
psutil # enhances pytest-xdist to allow "-n logical"
pytest-httpserver
pytest-retry;python_version>'3.9'
mock>=2.0.0
pytest-mock>=1.10.0
pytest-cov
arcp>=0.2.0
-r requirements.txt
galaxy-tool-util>=22.1.2,!=23.0.1,!=23.0.2,!=23.0.3,!=23.0.4,!=23.0.5,<24.2
galaxy-util<24.2
