pytest >= 6.2, < 7.3
pytest-xdist
pytest-httpserver
mock >= 2.0.0
pytest-mock >= 1.10.0
pytest-cov
arcp >= 0.2.0
rdflib-jsonld>=0.4.0, <= 0.6.1;python_version<='3.6'
-rrequirements.txt
galaxy-tool-util >= 22.1.2, < 23
